.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}

body {
    background-color: #262626;
    justify-content: center;
    width: 1250px;
    height: 625px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.box1 {
    display: flex;
    align-items: left;
    padding: 20px;
    border: 2.5px solid #C1453C;
    border-radius: 10px;
    background-color: #262626;
    width: 650px;
    box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.2);
    text-align: justify;
    align-content: cenetr;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    top: 6px;
}

.profile-info {
    flex-grow: 2;
}

.profile-name {
    font-family: 'Unbounded', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    color: #EAE9DA;
    position: relative;
    top: 5px;
}

.material-symbols-outlined {
    color: #1da1f2;
    position: relative;
    top: 5px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material1, .material2, .material3 {
    color: #EAE9DA;
    position: relative;
    top: 15px;
    margin-right: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #1da1f2;
}

i:hover {
    color: #1da1f2;
}

.quote {
    font-size: 14px;
    margin-top: 10px;
    color: #EAE9DA;
    font-family: 'Space Mono', monospace;
}

.p1, .p2, .p3, .p4 {
    font-family: 'Space Mono', monospace;
    color: #EAE9DA;
    text-align: justify;
}

.material2 {
    font-size: 18px;
    position: relative;
    top: 18px;
}

.material3 {
    font-size: 18px;
    position: relative;
    top: 1px;
}
